{% extends 'base.html' %}
{% block content %}

<body>
    <form method="POST" action="{% url 'post' %}" enctype="multipart/form-data" id="form1" runat="server">
        {%csrf_token%}
        <main role="main" class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 blog-main">
                    <div class="container">
                        <div class="form-group">
                            <img id="blah" src="/static/default.png" alt="your image" width="585.5dp"
                                height="585.5dp" />
                        </div>
                    </div>
                </div>
                <aside class="col-md-3 blog-sidebar">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="id_images" name="create_img" accept="image/*"
                            onchange="readURL(this);">
                        <br>
                        <textarea class="form-control" rows="7" name="main_text" cols="40" maxlength="150" required
                            id="id_text"></textarea>
                    </div>
                    <div style="float: right;">
                        <input class="btn btn-dark" type="submit" value="post">
                    </div>
                </aside>
            </div>
        </main>
    </form>
</body>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}